.container {
    text-align: center;
    color: black;
    font-family: helvetica;
    font-weight: bold;
}

.word {
    font-size: 2em;
    margin-bottom: 20px;
    color: blue;
    font-weight: bold;
}

.guesses {
    margin-bottom: 20px;
    font-size: 30px;
    color: #04AA6D;
}

.message {
    margin-bottom: 20px;
    font-size: 20px;
    color: orange;
}

input[type="text"] {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    padding: 10px; 
    color: blue;
    width: 80px;
        
}

.button {
  
  
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #005aff;
  border: none;
  border-radius: 15px;
  box-shadow: 4px 9px #002d81;
  
}

.button:focus {
  outline-style: none;
}

.button:hover {background-color: #009aff}

.button:active {
  background-color: #002d81;
  box-shadow: 0 5px #666;
  transform: translateX(6px) translateY(2px);
}

input, textarea, button, select, a {
    -webkit-tap-highlight-color: transparent;
}

.button1 {
  
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ffdf00;
  border: none;
  border-radius: 15px;
  box-shadow: 4px 9px #E47200;
}

.button1:hover {background-color: #FFEB3E}

.button1:active {
  background-color: #E47200;
  box-shadow: 0 5px #666;
  transform: translateX(6px) translateY(2px);
}

.hangman-container {
    margin-top: 20px;

}

.guessed-letters {
    margin-top: 20px;
    font-size: 25px;
    color: purple;
}
